/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  /*text-decoration: underline;*/
}

body {
  background-color: #fff2e7;
}

h2.box,
h3.box,
h4.box{
  display: inline-block;
}

.box {
  background-color: #F6DC01;
  color: #AE4800;
  padding: 5px 9px;

  -webkit-border-radius: 10px; /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
  border-radius: 10px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  -webkit-box-shadow: -2px -2px 2px 0px #877a6a; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  box-shadow: -2px -2px 2px 0px #877a6a; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
}

.ads-top {
  background-color: #7c4002;
  height: 12px;
}

.ads-bottom {
  background-color: #7c4002;
  height: 40px;
}

.ads-bottom .go-top {
  text-align: center;
}

.ads-bottom .go-top a {
  display: inline-block;
  height: 29px;
  width: 29px;
  background: url(../img/top.png) 0 0 no-repeat transparent;
}

.ads-bottom .go-top span {
  display: block;
  font-size: 0.5em;
  color: #ffffff;
  margin-top: -0.5em;
}

.main {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
}

/* ==========================================================================
   Header View
   ========================================================================== */

#header {
  height: 184px;
  background: url(../img/header-bg.jpg) top left no-repeat transparent;
}

.logo {
  float: left;
}

.logo a {
  text-indent: -9999px;
  width: 280px;
  height: 184px;
  display: block;
  margin-left: 48px;
}

.menu {
  float: right;
}

.menu .menu-item-list {
  padding: 0;
  margin: 154px 20px 0 0;
}

.menu .menu-item-list .menu-item {
  margin-right: 5px;
  display: inline-block;
  background-color: #fff;
  padding: 4px 6px;


  -webkit-border-radius: 10px 10px 0 0; /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
  border-radius: 10px 10px 0 0 ; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  -webkit-box-shadow: -2px -2px 2px 0px #af6e36; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  box-shadow: -2px -2px 2px 0px #af6e36; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
}

.menu .menu-item-list .menu-item:hover,
.menu .menu-item-list .menu-item.current_page_item{
  background-color: #f6dc01;
}

.menu .menu-item-list .menu-item a {
  font-size: 0.85em;
}

.menu .menu-item-list .menu-item a:hover,
.menu .menu-item-list .menu-item.current_page_item a{
  color: #ae4800;
}


/* ==========================================================================
   Widgets
   ========================================================================== */
.widget {
  font-size: 0.86em;
  border-bottom: 1px solid #F6DC01;
  padding-bottom: 1.25em;
  color: #ffffff;
}

.widget h2 {
  font-size: 1.308em;
  font-weight: normal;
  line-height: 1em;
  text-transform: none;
  text-shadow: 1px 1px #333333;
  color: #ffffff;
}

.widget .inside-widget {
  padding-left: 10px;
}

/** Search Widget **/

.search {
}

.search-form{

}

.searching {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #FFFFFF;
  font-size: 1.01em;
  padding: 1px 0 0 3px;
}

/** Category Widget **/
.categories {
}

.categories .list {
  list-style: none;
  padding: 0;
}

.categories .list .item {
  background: url("../img/uncheck.png") no-repeat scroll 0 3px transparent;
  font-size: 1em;
  line-height: 1.7em;
  padding-left: 24px;
}

.categories .list .item a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 1px 1px #333333;
}

.categories .list .item a:hover {
  text-decoration: underline;
}

.categories .search-category {}

.categories .search-category {}
.categories .search-category .searching {}

/** Filter Widget **/
.filter {
}

.filter .list {
  list-style: none;
  padding: 0;
}

.filter .list .item {
  font-size: 1em;
  line-height: 1.7em;
  text-shadow: 1px 1px #333333;
}

.filter .list .item input[type='checkbox'] {
  display:none;
}

.filter .list .item input[type='checkbox'] + label {
  padding-left: 24px;
  background:url(../img/uncheck.png) no-repeat left center;
}

.filter .list .item input[type='checkbox']:checked + label {
  background:url(../img/check.png) no-repeat left center;
}

/** Cloud Tag Widget **/
/**********************************************/

#tag_cloud .inside-widget {
  padding: 10px 10px 30px 0px;
}

#tag_cloud a {
  color: #636363;
  line-height: 1.01em;
  text-decoration: none;
}

#tag_cloud a:hover {
  text-decoration: none;
  color: #ffffff;
}


/* ==========================================================================
   Content View
   ========================================================================== */
.content {

}

.content .content-bg {
  width: 100%;
}

.content .side-bar-left {
  width: 25%;
  background: url(../img/sidebar-bg.jpg) top left repeat-y;
  float: left;
}

.content .side-bar-left .ind {
  padding: 1.25em;
}

.content .column-center {
  width: 75%;
  float: left;
  min-height: 1000px;
  background: url(../img/content-bg.jpg);
}

.content .column-center .wrapper {
  padding: 1.25em;
  position: relative;
  z-index: 2;
}

.content .column-center h4.box {
  margin-top: 0;
}

.content .column-center .wrapper .indent-center {

}

.indent-center .article {

}
.indent-center .article .post {
  display: table;

}
.indent-center .article .post .cell {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}
.indent-center .article .post .content-post {}
.indent-center .article .post .content-post .title {}
.indent-center .article .post .content-post .body {
  padding-right: 5px;

}

.indent-center .article .post .content-post a{
  color: #AE4800;
  font-style: italic;
}

.indent-center .article .post .content-post a:hover{
  text-decoration: underline;
}

.indent-center .article .post .content-media {
  text-align: center;
}

.indent-center .article .post .content-media img {
  max-height: 260px;
  max-width: 332px;
  border: 1px solid #AE4800;
}
.indent-center .article .tags {
  margin-top: 0.3em;
}

.indent-center .article .tags span {
  color: #AE4800;
}
.indent-center .article .tags a {}
.indent-center .article .tags a:hover{
  text-decoration: underline;
}



.content .column-center .coffee-mark {
  background: url("../img/coffee_mark.png") no-repeat scroll 0 0 transparent;
  height: 213px;
  opacity: 0.7;
  position: absolute;
  width: 645px;
  z-index: 1;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
