/* CSS Document */


.innerBody{
	background-color:#fff3e7;
	padding: 0 28px 0 20px;
	margin: 50px 0 70px;
}

/***forms*******************************************/
input,textarea {
	font-family: Tahoma, Arial, Helvetica, serif;
	font-size: 11px;
	color: #000000;
	vertical-align: middle;
	font-weight: normal;
	text-align: left;
}

/***end forms*******************************************/
.min-width {
	width: expression((( document.documentElement.clientWidth ||  
		document.body.clientWidth)<  952 )?  "952px":  "100%" );
	min-width: 952px;
	background: url(images/bg-top.gif) top center repeat-x
}



.pagetitle {
	padding: 10px;
	color: #fcf8a8;
	font-weight: normal
}

.center {
	padding: 0 0 10px 0;
}

/***global*******************************************/


/*.side-bar-left { width:255px; margin-right:-255px; position:relative; float:left;}
.side-bar-left .ind { padding:0px 49px 0px 15px; }*/

.indent-center {
	padding: 6px 0 10px 36px;
}





.clear {
	clear: both;
}

.clear-block {
	padding: 0px;
	overflow: hidden;
}

/***global*******************************************/

/***header*******************************************/
h2 {
	font-size: 1.61em;
}

h3 {
	font-size: 1.31em;
}

/*#header .row1 {overflow:hidden; height:283px; width:100%;}*/

h1 {
	font-size: 1em;
	margin: 0px;
	padding: 0;
	color: #ffffff;
	text-indent: -10000em;
	width: 369px;
	height: 164px;
	cursor: pointer;
}

h1:hover {
	text-decoration: none;
}

.description {
	width: 178px;
	height: 23px;
	margin-left: 314px;
	margin-top: 7px;
	text-indent: -10000em;
	background: url(images/slogan.gif) top left no-repeat;
	overflow: hidden;
}


/*.menu ul li span {display:block; float:left; background:url(images/bg-link2.gif) top repeat-x;}
.menu ul li span span {display:block; float:left; background:url(images/link-left2.gif) top left no-repeat;}
.menu ul li span span a {display:block; float:left; background:url(images/link-right2.gif) top right no-repeat;}

.menu ul li span.over {background:url(images/bg-link.gif) top repeat-x;}
.menu ul li span.over span {background:url(images/link-right.gif) top right no-repeat;}
.menu ul li span.over span a {background:url(images/link-left.gif) top left no-repeat;}
*/
/***end header*******************************************/

/***box*******************************************/
.bg-left {
	background: url(images/bg-left.png) left repeat-y;
}

.bg-right {
	background: url(images/bg-right.png) right repeat-y;
	overflow: hidden;
	padding: 0px 16px 0px 16px;
}

.bg-cont {
	background: url(images/bg-top2.jpg) top left no-repeat #000000;
}

.border-left {
	background: url(images/border-left.gif) repeat-y left #000000;
}

.border-right {
	background: url(images/border-right.gif) repeat-y right;
}

.border-top {
	background: url(images/border-top.gif) repeat-x top;
}

.border-bot {
	background: url(images/border-bot.gif) repeat-x bottom;
}

.corner-top-left {
	background: url(images/corner-top-left.gif) no-repeat left top;
}

.corner-top-right {
	background: url(images/corner-top-right.gif) no-repeat right top;
}

.corner-bot-left {
	background: url(images/corner-bot-left.gif) no-repeat left bottom;
}

.corner-bot-right {
	background: url(images/corner-bot-right.gif) no-repeat right bottom;
}

.container {
	background: url(images/bg-line2.gif) 247px 0 repeat-y;
	width: 100%;
	overflow: hidden;
}

.container div {
	float: left;
	width: 217px;
}

.container .left-box {
	margin-right: 65px;
}
/*************Categories***************/
/*#categories.widget { background:url(images/block-top.gif) top left no-repeat #FFFFFF;}
#categories .inside-widget { background:url(images/block-bot.gif) bottom left no-repeat;}
#categories.widget h2 { color:#34432c; padding:18px 0px 15px 27px;}
#categories.widget li { font-size:1.09em; line-height:1.83em; color:#1b2e32; font-weight:bold; background:url(images/a1.gif) no-repeat 0 9px; border-bottom:1px solid #d6f0ff}
#categories.widget li a { color:#414e39; text-decoration:none; background:none; padding-left:12px; display:block;}
#categories.widget li a:hover { color:#42a206;}*/

/*************ARCHIVES***************/
/*#archives.widget { background:url(images/block-top2.gif) top left no-repeat #0d68a3;}
#archives .inside-widget { background:url(images/block-bot2.gif) bottom left no-repeat;}*/
#archives.widget h2 {
	color: #a5dfff;
	background: url(images/archives-bg.gif) no-repeat 0 0;
}

#archives.widget h2 a {
	color: #a5dfff;
	text-decoration: none;
}

#archives.widget h2 a:hover {
	text-decoration: none;
}
/*#archives.widget ul { margin:0; padding:0px; width:100%;}*/
#archives.widget li {
	background: url(images/list-marker3.gif) no-repeat 0 7px;
}

#archives.widget li a {
	color: #72afd1
}

#archives.widget li a:hover {
	color: #72afd1;
	text-decoration: underline;
}
/************************************/

/*************META***************/
/*#meta.widget {}
#meta .inside-widget { padding-right:15px; padding-left:20px;}
#meta.widget h2 { color:#FFFFFF; padding-left:43px; background:#69b9dd;}
#meta.widget ul { margin:0; padding:0px; width:100%;}*/
#meta.widget li {
	background: url(images/list-marker2.gif) no-repeat 0 7px;
}

#meta.widget li a:hover {
	text-decoration: underline;
}
/************************************/

/*************RECENT POSTS***************/
/*#recentposts.widget { background:url(images/bg-block5.gif) left repeat-y;}
#recentposts .block-top { background:url(images/block-top5.gif) top left no-repeat;}
#recentposts .inside-widget { background:url(images/block-bot5.gif) bottom left no-repeat; padding:20px 10px 20px 20px;}
#recentposts.widget h2 {color:#1e0d21; padding:18px 0px 0px 27px;}

#recentposts.widget ul { margin:0; padding:0px; width:100%;}
#recentposts.widget li { color:#1e0d21; line-height:1.51em; background:url(images/bg-line3.gif) bottom repeat-x; padding:4px 0px 8px 0px;}
#recentposts.widget li a { background:none; padding-left:6px; color:#1e0d21}
#recentposts.widget li a:hover { text-decoration:none; color:#bd00d2;}*/
/************************************/

/*************RECENT COMMNETS***************/
/*#recentcomments.widget { background:url(images/bg-block6.gif) left repeat-y;}
#recentcomments .block-top { background:url(images/block-top6.gif) top left no-repeat;}
#recentcomments .inside-widget { background:url(images/block-bot6.gif) bottom left no-repeat; padding:14px 10px 20px 20px;}
#recentposts.widget h2 {color:#1e0d21;}

#recentcomments.widget ul { margin:0; padding:0px; width:100%;}
#recentcomments.widget li { color:#1e0d21; line-height:1.51em; background:url(images/bg-line4.gif) bottom repeat-x; padding:4px 0px 8px 0px;}
#recentcomments.widget li a { background:none; padding-left:6px; color:#412018}
#recentcomments.widget li a:hover { text-decoration:none; color:#c12f0b;}*/
/************************************/

/*************BLOGROLL***************/
/*#blogroll.widget { background:url(images/bg-block4.gif) left repeat-y;}
#blogroll .block-top { background:url(images/block-top4.gif) top left no-repeat;}
#blogroll .inside-widget { background:url(images/block-bot4.gif) bottom left no-repeat;}
#linkcat-2.widget h2 {background:#aac701;}
#blogroll.widget h2 a {color:#1b2e32; text-decoration:none;}
#blogroll.widget h2 a:hover {text-decoration:none;}
#blogroll.widget ul { margin:0; padding:0px; width:100%;}
#blogroll.widget li { font-size:1.09em; line-height:1.42em; color:#1b2e32; font-weight:normal; padding:1px 0px 1px 0px;}
#linkcat-2.widget li a { background:url(images/a3.gif) no-repeat 0 8px;}
#linkcat-2.widget li a:hover { color:#aac701;}*/
/************************************/
/***box*******************************************/

/***side_bar*******************************************/
.side-bar .inside {
	padding: 0 0 0 0;
}

.widget#categories .children {
	margin: 10px 0 0 0px;
}

.widget#categories .children li {
	font-size: 1em;
	padding-left: 20px;
	background: url(images/list-marker.gif) no-repeat 0 7px;
}

.indentX p {
	padding: 0 0 10px 0;
}

/**********************************************/






/************/

/***********/

/**********************************************/
#calendar .inside-widget {
	padding-left: 0px;
	padding-right: 30px;
}

#calendar_wrap {
	vertical-align: top;
	width: auto;
	margin: auto;
}

#calendar_wrap #prev {
	padding: 5px 0px 0px 10px;
	text-align: left;
}

#calendar_wrap caption {
	color: #c46501;
	font-weight: bold;
	font-size: 1.11em;
}

#calendar_wrap td {
	width: 35px;
	text-align: right;
	color: #fffcbf;
	font-size: 1.01em;
}

#calendar_wrap td a {
	color: #c46501;
}

#calendar_wrap th {
	color: #c46501;
	text-align: right;
}

#calendar_wrap a {
	font-weight: bold;
	width: 20px;
}

/**********************************************/
#statusbar {
	text-align: left;
	color: #1b1f22;
}

#statusbar p {
	padding: 10px 15px 10px 15px;
	margin: 0 0 0px 0;
}

#statusbar a {
	font-weight: bold;
	color: #1b1f22;
}

.widget_rss h2 {
	padding-bottom: 12px;
}

/***end side_bar*******************************************/

/*---nonNumeric Lists without links---*/
.column-center ul li {
	background: url(images/list-marker.gif) no-repeat 0 9px;
	padding-left: 10px;
	list-style-image: none;
	list-style: none;
	line-height: 1.86em;
	color: #fcf8a8;
	font-weight: normal;
}

.column-center ul li ul {
	margin-left: 10px;
}

.column-center ul li ol {
	margin-left: 15px;
}

.column-center ul li ol li {
	list-style-type: decimal;
}

/*---Numeric Lists without links---*/
.column-center Ol {
	padding-left: 2px;
}

.column-center Ol li {
	background: none;
	padding: 0px;
	margin-left: 13px;
	line-height: 1.86em;
	font-weight: normal;
	color: #ffa96f
}

.column-center Ol li ul li {
	background: url(images/list-marker.gif) no-repeat 0 9px;
	padding-left: 10px;
	color: #ffa96f;
	font-weight: normal;
}

/*---nonNumeric Lists---*/
.column-center ul li {
	list-style-image: none;
	list-style: none;
	line-height: 1.86em;
	color: #ffa96f;
}

.column-center ul li a {
	color: #ffa96f;
	font-weight: normal;
	text-decoration: none;
	font-size: 1.01em;
	text-transform: none;
}

.column-center ul li a:hover {
	text-decoration: underline;
}

.column-center ul li ul {
	margin-left: 15px;
}

.column-center ul li ol {
	margin-left: 20px;
}

.column-center ul li ol li {
	list-style-type: decimal;
	color: #ffa96f
}

.column-center ul li ol li a {
	background: none;
}

/*---Numeric Lists---*/
.column-center Ol {
	padding-left: 2px;
}

.column-center Ol li {
	background: none;
	padding: 0px;
	margin-left: 20px;
	line-height: 1.86em;
}

.column-center Ol li a {
	padding-left: 0px;
	color: #ffa96f;
	font-weight: normal;
	text-decoration: none;
	font-size: 1.01em;
	text-transform: none;
}

.column-center Ol li a:hover {
	text-decoration: underline;
}

.column-center Ol li ul li a {
	font-weight: bold;
	text-decoration: underline;
}

.column-center Ol li ul li a:hover {
	text-decoration: none;
}

.column-center p {
	padding: 5px 20px 5px 0px;
}

.column-center .border {
	border: 1px solid #434245;
	padding: 1px;
}

.welcome {
	margin-bottom: 15px;
}

.welcome .content-top-left {
	padding: 20px 28px;
}

.welcome h2 {
	padding-bottom: 10px;
	color: #253747;
	font-weight: normal;
}

.page,.post {
	overflow: hidden;
	padding-bottom: 13px;
}

.title {
	overflow: hidden;
	width: 100%;
	padding-top: 25px;
}

.title h2 {
	color: #bababa;
	font-size: 2em;
	text-transform: uppercase;
	line-height: 1.01em;
	font-weight: bold;
	padding: 9px 0px 1px 1px;
}

.title h2 a {
	color: #bababa;
	text-decoration: none;
}

.title h2 a:hover {
	text-decoration: none;
	color: #ff9a00;
}

.title .author {
	padding: 4px 0px 8px 1px;
	color: #fcf8a8;
	font-weight: normal;
	font-size: 1.09em;
	line-height: 1.09em;
	border-bottom: 1px solid #c15a0e;
}

.title .author a {
	color: #fcf8a8;
}

.title .date {
	padding: 12px 30px 17px 9px;
	font-size: 1.385em;
	line-height: 1.01em;
	color: #ffffff;
	font-weight: normal;
	background: url(images/date-bg.png) top left no-repeat;
	font-family: "Arial Black", Gadget, sans-serif;
	text-transform: uppercase;
	float: left;
}

.text-box {
	overflow: hidden;
	width: 100%;
	padding-bottom: 20px;
	background: url(images/line.gif) bottom left repeat-x;
}

.text-box .ind {
	padding: 8px 0px 0px 0px;
}

.text-box img {
	margin-bottom: 16px;
}

.text-box strong {
	color: #504d46;
	font-size: 1.01em;
}

.text-box span {
	text-transform: none;
	color: #504d46;
	font-size: 1.09em;
}

.text-box span a {
	color: #695e44;
	font-size: 1.18em;
}

.more-link {
	float: right;
	width: 64px;
	display: block;
	background: #b3dff6;
	color: #ffffff;
	text-decoration: none;
	font-size: 1.583em;
	line-height: 0.85em;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 11px;
	padding: 5px 0 3px 5px;
	letter-spacing: -1px;
}

.more-link:hover {
	background: #ffa200;
}

.comments a {
	float: right;
	display: block;
	background: url(images/comment-bg.gif) top left no-repeat;
	width: 59px;
	text-align: center;
	font-size: 2em;
	line-height: 1em;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	padding: 7px 0 11px 0;
}

.comments a:hover {
	color: #ffa200;
}

.older {
	color: #fd7e02;
	font-weight: bold;
	text-decoration: none;
	float: right;
	font-size: 0.846em;
}

.older:hover {
	text-decoration: underline;
}

.line {
	background: url(images/bg-line2.gif) top repeat-x;
	padding-top: 2px;
}
/***end column_center*******************************************/
h2.pages {
	padding-bottom: 10px;
}

/* ----------------------- Popup styles ---------------------- */

commentspopup #header {background:#2F3F99 url(../img/popup_header_bg.gif) top repeat-x;}
#commentspopup .post {
	padding: 0px;
}

#commentspopup .page-padding {
	padding: 50px 0 10px 0;
}

#commentspopup .page-width {
	width: 538px;
	margin: 0 auto;
	background: url(images/content-bg.png);
}

#commentspopup h2 {
	color: #fd7e02;
	font-family: Tahoma, Arial, Helvetica, serif;
	font-size: 1.45em;
	padding: 10px 10px;
}

#commentspopup p {
	padding: 5px 15px;
	font-size: 1em;
}

#commentspopup ol#commentlist  li {
	margin: 0px 10px 3px 35px;
	padding: 5px 0px 3px 0px;
	font-weight: normal;
}

#commentspopup #footer {
	padding: 10px 0;
	color: #fff;
}

#commentspopup #footer a {
	color: #fff;
}

/* ----------------------------------------------------------- */

/***Begin Images *******************************************/
p img {
	padding: 0;
	max-width: 100%;
}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignright {
	padding: 0;
	margin: 0px 0px 2px 20px;
	display: inline;
}

img.alignleft {
	padding: 0;
	margin: 2px 20px 2px 0;
	display: inline;
}

.alignright {
	float: right;
	color: #c46501;
	padding-right: 10px;
}

.alignleft {
	float: left;
	color: #c46501;
	padding-left: 10px;
}

.marg {
	margin-bottom: 10px;
}
/***End Images *******************************************/

/* Begin Various Tags & Classes */
acronym,abbr,span.caps {
	cursor: help;
}

acronym,abbr {
	border-bottom: 1px dashed #999;
}

blockquote {
	border: 1px solid #36342f;
	background: #151410;
	padding: 3px 5px;
}

blockquote cite {
	margin: 5px 0 0;
	display: block;
}

.center {
	text-align: center;
}

.hidden {
	display: none;
}

hr {
	display: none;
}

a img {
	border: none;
}

.navigation {
	width: 100%;
	overflow: hidden;
	display: block;
	text-align: left;
	margin-bottom: 5px;
	padding-top: 5px;
}

/*.navigation {display: block; text-align: center; margin:0; padding:15px 21px;}
.navigation a {color:#577487; font-weight:bold; font-size:1.2em;}*/
/* End Various Tags & Classes*/

/* Begin Comments*/
.alt {
	margin: 0;
	padding: 10px;
}

.commentlist {
	padding: 0;
	text-align: justify;
}

ol.commentlist  li {
	margin: 15px 0 3px;
	padding: 5px 10px 3px;
	list-style: none;
	font-weight: normal
}

ol.commentlist li.even {
	background: #181715;
	border-top: 1px solid #36342f;
}

ol.commentlist li.odd {
	background: #232220;
	border-top: 1px solid #36342f;
}

.commentlist li .avatar {
	float: right;
	border: 1px solid #eee;
	padding: 2px;
	background: #fff;
}

.commentlist p {
	margin: 10px 5px 10px 0;
}

#commentform p {
	margin: 5px 0;
	padding-right: 25px;
	padding-left: 15px;
}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
}

.commentmetadata {
	margin: 0;
	display: block;
}

#respond {
	width: 100%;
	overflow: hidden;
}

#respond h3 {
	padding-left: 15px;
}

#commentform textarea {
	width: 100%;
}

textarea#comment {
	width: 100%;
}

h3#comments,h3#respond {
	padding: 12px 0px 11px 20px;
	font-size: 1.27em;
	color: #fcf8a8
}
/* End Comments */
.info-sidebar {
	padding: 15px;
	color: #504d46;
}

/*************************************/
#recent-posts {
	vertical-align: top;
}

#recent-comments li {
	background: url(images/a1.gif) no-repeat 0 12px;
	padding-left: 15px;
	line-height: 1.71em
}

#recent-comments li a {
	background: none;
	text-decoration: underline;
}

#recent-comments li a:hover {
	text-decoration: none;
}

#recent-comments .inside-widget {
	padding: 10px 20px 10px 20px;
}

#calendar {
	vertical-align: top;
}

#google-search {
	vertical-align: top;
}

#gsearch {
	text-align: left;
}
/*#pages  {vertical-align:top;}*/
#text-1 {
	vertical-align: top;
}

#delicious {
	vertical-align: top;
}

#delicious-box {
	text-align: left;
}

/*************************************/
.widget_text .inside-widget {
	padding: 10px 10px 20px 20px;
}

.textwidget {
	color: c9c8c8;
	padding: 4px 0px 10px 0px;
	color: #504d46
}

.oddcomment {
	color: #000000;
}

/***footer*******************************************/
#footer {
	color: #404040;
	font-weight: normal;
	padding: 10px 0 74px 44px;
	font-size: 0.846em;
}

#footer p {
	padding: 0px;
}

#footer a {
	color: #404040;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#footer span {
	color: #636363;
}
/***end footer*******************************************/
